<html>

<head>


    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/chat_box.css">


</head>

<body>
    <%- include('header');%>

        <main id="main">
            <h1>Codeal /<%=title%>
            </h1>
            <div id="Container">
                <div id="feed-post">
                    <section >
                        <h4>Post</h4>
        
                        <!--It can be done at the routes level simmilar to what we have done for the profile page users.js -->
                        <% if(locals.user){%>
                            <form action="/posts/create" id="new-post-form" method="POST">
                                <TEXTArea name="content" cols="30" rows="3" placeholder="Type Here..."></TEXTArea>
                                <input type="submit" value="Post">
                            </form>
                            <%}%>
        
                                <div id="post-list-container">
                                    <ul>
                                        <%for (let i of post ){%>
        
                                            <li id="post-<%=i._id%>">
                                                <p>
                                                    <!--Use the .id instead of ._id in locals.user.id to convert it into String -->
                                                    <% if((locals.user) && (locals.user.id==i.user.id)){%>
                                                        <!--This is a check to ensure delte button is available when the user is sign in and only to that post which the user has created-->
                                                        <small>
                                                            <a class="delete-post-button" href="/posts/destroy/<%=i._id%>">X</a>
                                                        </small>
                                                    <%}%>
                                                    <%=i.content%>
                                                    <br>
                                                    <small>
                                                        <%=i.user.name%>
                                                    </small>
                                                    <br>

                                                    <%if(locals.user) {%>
                                                        <a href="/likes/toggle/?id=<%= i._id %>&type=Post"><%=i.likes.length%> Likes</a>
                                                    <%}else{%>
                                                        <%=i.likes.length%> Likes
                                                    <%}%>
                                                </p>
                                                <div class="post-comments">
                                                    <% if(locals.user){%>
                                            
                                                        <form action="/comments/create" method="Post" class="">
                                                            <input type="text" name="content"
                                                                placeholder="Type Here to add comment">
                                                            <input type="hidden" name="post" value="<%= i._id %>">
                                                            <!--we are passing the id of the post because we needed it in the controller and unlike user req.use._id we cannnot do directly for the post -->
                                                            <input type="submit" value="Add Comment">
                                                        </form>
                                            
                                                        <%}%>
                                            
                                                            <div class="post-comments-list">
                                                                <ul id="post-comments-<%=i._id%>">
                                                                    <%for(comment of i.comments){%>
                                                                        <p>
                                                                            <!--Use the .id instead of ._id in locals.user.id to convert it into String -->
                                                                            <% if((locals.user) && (locals.user.id==comment.user.id)){%>
                                                                                <!--This is a check to ensure delte button is available when the user is sign in and only to that post which the user has created-->
                                                                                <small>
                                                                                    <a href="/comments/destroy/<%=comment._id%>">X</a>
                                                                                </small>
                                                                            <%}%>
                                            
                                                                            <%=comment.content%>
                                                                            <br>
                                                                                <small>
                                                                                 <%=comment.user.name%>
                                                                                </small>
                                                                            <br>
                                                                            <%if(locals.user) {%>
                                                                                <a href="/likes/toggle/?id=<%= comment._id %>&type=Comment"><%=comment.likes.length%> Likes</a>
                                                                            <%}else{%>
                                                                                <%=comment.likes.length%> Likes
                                                                            <%}%>
                                                                            <br>
                                                                        </p>
                                            
                                                                    <%}%>
                                                                </ul>
                                                            </div>
                                                </div>
                                            
                                            </li>
        
                                        <%}%>
                                    </ul>
                                </div>
                    </section>
        
                    
                </div>
                <div id="user-friends">
                    
                    <% if(locals.user){%>
                        <section >

                            <h4>Friends of <%=locals.user.name%></h4>
                            <% for (u of friend ) {%>
                                <p>
                                    <a href="users/profile/<%=u.to_user._id%>"><%=u.to_user.name%></a>
                                </p>
                            
                            <%}%>
                        </section>
                    <%}else{%>
                        <section >
                            <h4>All the Users </h4>
                            <% for (u of all_user) {%>
                                <p>
                                    <a href="users/profile/<%=u.id%>"><%=u.name%></a>
                                </p>
                            
                            <%}%>
                        </section>
                    <%}%>

    
                </div>
               



            </div>
            <% if(locals.user){%>
                <div id="user-chat-box">
                    <ul id="chat-messages-list">
                        <li class="other-message">
                            <span>Other Message</span>
                        </li>
                        <li class="self-message">
                            <span>Self Messge</span>
                        </li>

                    </ul>
                    <div id="chat-message-input-container">
                        <input id="chat-message-input" placeholder="Type Message Here">
                        <button id="send-message">Send</button>
                    </div>
                </div>
            <%}%>

           
            


        </main>

        <%- include('footer');%>


        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>    <!--We are using ajax to submit the form manually using ajax so that the page does not refresh every timem -->

         
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/chat_engine.js"></script>

        <% if(locals.user){%>
            <script>
                new ChatEngine('user-chat-box','<%=locals.user._id%>')
            </script>
        <%}%>


        <!-- <script src="/js/home_post.js"></script> -->
       


</body>



</html>