<html>

<head>


    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/user_profile.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/layout.css">



</head>

<body>

    <%- include('header');%>

        <main>
            <h1>User Details</h1>
            <p><%=user.name%></p>
            <p><%=user.email%></p>
        </main>

    <%- include('footer');%>


</body>

</html>