<html>
    <head>


        <title><%= title %></title>
        <link rel="stylesheet" href="/css/layout.css">


    </head>

    <body>
        <header><p>Page Header</p> </header>

<<<<<<< HEAD
        <h1 ><%=title%></h1>
        <p><%= user.name%></p>
        <p><%= user.email%></p>
=======
        <h1 >User Details</h1>
        <p>Name: <%= user.name%></p>
        <p>Email: <%= user.email%></p>

        <form action="/users/sign-out" method="POST">
            <input type="submit" value="Sign Out">
            
        </form>

        </form>
>>>>>>> 7e0b14764544c3fd797cacb2c08e5b9b4cbda205



    </body>
</html>